<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @business.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @business.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @business.phone_number %>
</p>

<p>
  <strong>City:</strong>
  <%= @business.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @business.province %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
